<section>
  <div class="container">
    <div class="columns">
      <div class="column is-offset-3">
        <h2 class="title is-2">Edit Product</h2>
        <hr>
        <%= form_for(@product) do |f| %>
          <% if @product.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

              <ul>
              <% @product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <label class="label">Name</label>
          <p class="control">
            <%= f.text_field :name, class: 'input', placeholder: @product.name %>
          </p>
          <label class="label">Quantity</label>
          <p class="control">
            <%= f.number_field :quantity, class: 'input', placeholder: @product.quantity %>
          </p>
          <label class="label">Cost</label>
          <p class="control">
            <%= f.number_field :cost, class: 'input', placeholder: @product.cost %>
          </p>
          <label class="label">Info</label>
          <p class="control">
            <%= f.text_area :info, class: 'input', placeholder: @product.info %>
          </p>
          <div class="field">
            <%= f.hidden_field :storefront_id, value: current_user.storefront.id %>
          </div>
          <div class="actions">
            <%= f.submit 'Update Product', class: 'button is-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
