<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>In Stock:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @product.cost %>
</p>

<p>
  <strong>Info:</strong>
  <%= @product.info %>
</p>

<p>
	<%= @product.storefront_id %>
</p>

<p>
	<%= form_tag('/add_to_cart') do %>
    <%= hidden_field_tag :user_id, current_or_guest_user.id %>
    <%= hidden_field_tag :product_id, @product.id %>
    <%= number_field_tag :quantity, nil, placeholder: "How many?" %><br><br>
    <%= submit_tag "Buy", class: "btn btn-success" %>
  <% end %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
