<nav class="nav">
  <div class="container">
    <div class="nav-left">
      <%= link_to(root_path,  class: 'nav-item is-branding') do %>
        <span class="icon">
          <i class="fa fa-home"></i>
        </span>
        <h1>farmshare</h1>
      <% end %>
      
    </div>

    <div class="nav-center">
    </div>

    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-right nav-menu">
      <% if user_signed_in? %>
        <div id="dropdown">
          <a class="nav-item is-active is-tab" id="dropdown-btn" ><%= current_user.email %></a>
          <div id="dropdown-content">
            <aside class="menu">
              <p class="menu-label">
                General
              </p>
              <ul class="menu-list">
                <li><%= link_to 'Profile', profile_path(current_user.profile.id) %></li>
                <li><a href="#">Customers</a></li>
                <li>
                  <a href="<%= destroy_user_session_path %>" class="button is-primary is-outlined" id="log-out-btn" data-method="delete">
                    <span class="icon">
                      <i class="fa fa-sign-out"></i>
                    </span>
                    <span>Log out</span>
                  </a>
                </li>
                <br>
              </ul>
            </aside>
          </div>
        </div>
      <% else %>
        <span class="nav-item">
          <%= link_to(new_user_registration_path,  class: 'button is-primary is-inverted') do %>
            <span class="icon">
              <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
            </span>
            <span>Sign up</span>
          <% end %>
          <%= link_to(new_user_session_path,  class: 'button is-primary') do %>
            <span class="icon">
              <i class="fa fa-sign-in"></i>
            </span>
            <span>Log in</span>
          <% end %>
        </span>
      <% end %>
    </div>
  </div>
</nav>